src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="Experience" doc:id="fb6624d8-f189-4048-bcb2-97d4899ee3f2" >
		<http:request method="GET" doc:name="GET /flights" doc:id="223dad9a-85fe-4677-b333-3b7a920771c8" config-ref="HTTP_Request_configuration" path="/flights" responseTimeout="300000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::process.client_secret}",
	"client_id" : "${secure::process.client_id}"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"destination" : attributes.queryParams.destination
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
